*
!.gitignore
!libft*.c
!ft*.c
!*.h
!src*
!src/bonus*
!so*.c
!get*.c
!/src/so_*.h
!maps*
!*.ber
!Makefile
!images*
!under_text_3.xpm
!ghost*.xpm
!exit*
!collectable*
!player*
!Fredd*
!wall.xpm
!grass*
!black.xpm
